main {
	height: calc(100vh - 80px);
	background-color: #212528;
	color: white;
	overflow-y: scroll;
}

input {
	height: 30px;
	background-color: #2b2e30;
	border-color: #0FCAF0;
	color: white;
	margin-bottom: 10px;
	width: 140px;
}

.tableHeader {
	font-size: 14px;
}

.tableRow {
	font-size: 12px;
}