main {
	height: calc(100vh - 80px);
	background-color: #212528;
	color: white;
	overflow-y: scroll;
}

select {
	border: none;
	text-align: center;
	background-color: #212528;
	color: #0FCAF0;
}

#selectContainer {
	margin: auto;
	width: 50vw;
}

#accountInfos,
#importSection,
#accountGraph {
	background-color: #2b2e30;
	border-radius: 15px;
	padding: 15px;
	border: 1px solid rgb(77, 76, 76);
	box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 1);
	width: 80vw;
	margin: auto;
}