main {
	height: calc(100vh - 80px);
	background-color: #212528;
	color: white;
	overflow-y: scroll;
}

form {
	display: flex;
	font-size: 12px;
	flex-direction: column;
	margin: auto;
	margin-top: 40px;
}

select,
input {
	height: 30px;
	background-color: #2b2e30;
	border-color: #0FCAF0;
	color: white;
	margin-bottom: 10px;
	margin: 7px;
}

input {
	width: 60px;
	text-align: center;
}

.transactionRow {
	font-size: 10px;
	white-space: nowrap;
}

form,
.transactionRow {
	background-color: #2b2e30;
	border-radius: 15px;
	padding: 15px;
	border: 1px solid rgb(77, 76, 76);
	box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 1);
}