main {
	height: calc(100vh - 80px);
	background-color: #212528;
	color: white;
	overflow-y: scroll;
}

form {
	display: flex;
	flex-direction: column;
	width: 75vw;
	margin: auto;
	margin-top: 60px;
}

input,
select {
	height: 20px;
	background-color: #2b2e30;
	border-color: #0FCAF0;
	color: white;
	margin-bottom: 10px;
}

form,
#categoriesSection {
	background-color: #2b2e30;
	border-radius: 15px;
	padding: 15px;
	border: 1px solid rgb(77, 76, 76);
	box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 1);
}

.categoryColorContainer {
	height: 15px;
	width: 40px;
}